<center>
  <h1 style="color:white;">Profile</h1>
</center>
<div class="well">
    <div ng-show="vm.nameStatus">
        {{vm.userObject.name}} <button class="btn btn-default">Edit</button>
    </div>
    <div>
      {{vm.userObject.email}} <button class="btn btn-default">Edit</button>
    </div>
    <div>
        {{vm.userObject.uid}} <button class="btn btn-default">Edit</button>
    </div>
    <div ng-show="vm.photoStatus">
      <img ng-src="{{vm.userObject.photo}}" alt="" /> <button class="btn btn-default">Edit</button>
    </div>


</div>
